.system-permission-container{
    padding: 12px;
    display: flex;
    gap: 12px;
    .panel-manage-permission{
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 4;
        background-color: white;
        box-shadow: 1px 0px 0px 1px lightgray;
        border-radius: 4px;
        header{
            background-color: var(--second-color);
            color: white;
            padding: var(--padding-page);
            border-radius: 4px 4px 0 0;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            box-shadow: 1px 1px 1px 1px var(--second-color);
        }
        .list-select{
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 0 12px;
        }
        .button{
            display: flex;
            align-items: center;
            justify-content: center;
            .button-load-data{
                width: 50%;
                height: 40px;
                margin-bottom: 12px;
                background-color: transparent;
                border-radius: 4px;
                border: none;
                background-color: var(--third-color);
                color: white;
                cursor: pointer;
                font-size: 16px;
                font-weight: 700;
    
            }
        }
    }
    .panel-table{
        flex: 8;
        background-color: white;
        box-shadow: 1px 0px 0px 1px lightgray;
        border-radius: 4px;
       width: 100%;
        padding: 12px;
        .header-action{
            display: flex;
            .search{
                flex: 6;
            }
            .save{
                display: flex;
                justify-content: end;
                flex: 6;
                
            }
        }
        .table-data-user{
            max-width: 1000px;
            margin-top: 12px;
            overflow: auto;
                    .reactgrid {
                        display: block;
                        .rg-header-cell{
                            background-color: var(--second-color) !important;
                            color: white !important;
                            align-items: center !important;
                            justify-content: center !important;
                            display: flex !important;
                        }   
                        .rg-text-cell, .rg-custom-cell {
                            align-items: center !important;
                            justify-content: center !important;
                            display: flex !important;
                        }
                    }
        }
    }
}