.system-group-container{
    padding: var(--padding-page);
    .panel-system-group{
        padding: var(--padding-page);
        background-color: white;
        border-radius: 6px;
        header{
            color: white;
            background-color: var( --second-color);
            padding: 12px;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            margin-bottom: 12px;
            border-radius: 4px;
        }
        .system-group-actions{
            display: flex;
            gap: 12px;
            .action-search{
                flex: 4;
            }
            .action-list{
                display: flex;
                justify-content: end;
                flex: 8;
                gap: 12px;
               
            }
        }
        .table-data-user{
            max-width: 100%;
            padding: 12px;
            overflow: auto;

            .rg-header-cell{
                background-color: var(--second-color) !important;
                color: white !important;
                align-items: center !important;
                justify-content: center !important;
                display: flex !important;
            }   
            .rg-text-cell {
                align-items: center !important;
                justify-content: center !important;
                display: flex !important;
            }
        }
    }
   
}