.ant-radio-wrapper span{
    font-size: 16px !important;
}
.thongke_value{
    color : red;
    font-weight : bold;
}
.div-napdulieu{
    text-align: center;
}

.btn-napdulieu{
    width: 35% !important;
    height: 5vh;
}

.btn-search{
    border:none;
    color:#0065A1;
}

.custom-wide-modal {
    width: 80% !important;
    max-width: 1800px !important;
  }
  
.custom-wide-modal .ant-modal-content {
    width: 100%;
}


.item_title {
    font-size: 18px;
}

.thongke_value{
    width: 60%;
    text-align: end;
    border-bottom: 1px dashed #464646;
}

.mtable-tacnghiep .table_container .table_feature_container {
  display: none;
}
.cont_select{
    width: 45%;
    font-weight: bold;
}
.input_layout_cont{
    padding: 5px 0;
}
