.ant-radio-wrapper span{
    font-size: 16px !important;
}
.thongke_value{
    color : red;
    font-weight : bold;
}
.div-napdulieu{
    text-align: center;
}

.btn-napdulieu{
    width: 35% !important;
}

.btn-search{
    border:none;
}

.custom-wide-modal {
    width: 80% !important;
    max-width: 1800px !important;
  }
  
  .custom-wide-modal .ant-modal-content {
    width: 100%;
  }