@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

//Color

//Surface
$color-surface-50: #ffffff;
$color-surface-100: #f7f9fd;
$color-surface-200: #ecedee;
$color-surface-300: #cbcfd2;
$color-surface-400: #a7aeb4;
$color-surface-500: #8e979f;
$color-surface-600: #6b767f;
$color-surface-700: #4f575e;
$color-surface-800: #33383d;
$color-surface-900: #202327;
$color-primary: #1c1c54;
$color-second: #0065A1;
$color-third: #00b1cc;
$color-fourth: #5ffbd6;

//Primary
$color-primary-50: #d2c5ff;
$color-primary-100: #a296dc;
$color-primary-200: #746aad;
$color-primary-300: #48417f;
$color-primary-400: #1c1c54;

//Secondary
$color-secondary-50: #ffa78d;
$color-secondary-100: #ff8871;
$color-secondary-200: #ff6956;
$color-secondary-300: #f7493d;
// $color-secondary-400

//Danger
$color-danger-50: #fbeaea;
$color-danger-100: #e16b6b;
$color-danger-200: #c92929;
$color-danger-300: #a92323;
$color-danger-400: #6e1717;

//Success
$color-success-50: #f6fefb;
$color-success-100: #1bc590;
$color-success-200: #12825f;
$color-success-300: #0e674b;
$color-success-400: #0a4834;

//Warning
$color-warning-50: #fffdfa;
$color-warning-100: #f9dbb5;
$color-warning-200: #f2ab53;
$color-warning-300: #ee9322;
$color-warning-400: #a6620d;

//Opacity
$color-opacity-primary: rgba(red(#7d49f8), green(#7d49f8), blue(#7d49f8), 0.15);
$color-opacity-secondary: rgba(red(#1c6fe3),
    green(#1c6fe3),
    blue(#1c6fe3),
    0.15);
$color-opacity-danger: rgba(red(#c92929), green(#c92929), blue(#c92929), 0.15);
$color-opacity-success: rgba(red(#12825f), green(#12825f), blue(#12825f), 0.15);
$color-opacity-warning: rgba(red(#f2ab53), green(#f2ab53), blue(#f2ab53), 0.15);
$color-background-modal: rgba(red(#121212), green(#121212), blue(#121212), 92%);

//Dark
$color-dark-50: #121212;
$color-dark-100: #161616;
$color-dark-200: #1a1a1a;
$color-dark-300: #1c1c1c;
$color-dark-400: #1e1e1e;

//Tipography

$main-font: "IBM Plex Sans", sans-serif !important;
$main-font-weight-normal: 400;
$main-font-weight-bold: 700;

//heading-xl
$heading-xl-font-size: 60px;
$heading-xl-line-height: 78px;

// brack point
$breakpoint-xl: 1536px;
$breakpoint-ld: 1280px;
$breakpoint-md: 768px;
$breakpoint-sm: 360px;

.heading-xl-normal {
  font-family: $main-font;
  font-size: $heading-xl-font-size;
  line-height: $heading-xl-line-height;
  font-weight: $main-font-weight-normal;
}

.heading-xl-bold {
  font-family: $main-font;
  font-size: $heading-xl-font-size;
  line-height: $heading-xl-line-height;
  font-weight: $main-font-weight-bold;
}

//heading-lg
$heading-lg-font-size: 48px;
$heading-lg-line-height: 64px;

.heading-lg-normal {
  font-family: $main-font;
  font-size: $heading-lg-font-size;
  line-height: $heading-lg-line-height;
  font-weight: $main-font-weight-normal;
}

.heading-lg-bold {
  font-family: $main-font;
  font-size: $heading-lg-font-size;
  line-height: $heading-lg-line-height;
  font-weight: $main-font-weight-bold;
}

//heading-md
$heading-md-font-size: 34px;
$heading-md-line-height: 48px;

.heading-md-normal {
  font-family: $main-font;
  font-size: $heading-md-font-size;
  line-height: $heading-md-line-height;
  font-weight: $main-font-weight-normal;
}

.heading-md-bold {
  font-family: $main-font;
  font-size: $heading-md-font-size;
  line-height: $heading-md-line-height;
  font-weight: $main-font-weight-bold;
}

//title-xl
$title-xl-font-size: 24px;
$title-xl-line-height: 34px;

.title-xl-normal {
  font-family: $main-font;
  font-size: $title-xl-font-size;
  line-height: $title-xl-line-height;
  font-weight: $main-font-weight-normal;
}

.title-xl-bold {
  font-family: $main-font;
  font-size: $title-xl-font-size;
  line-height: $title-xl-line-height;
  font-weight: $main-font-weight-bold;
}

//title-lg
$title-lg-font-size: 20px;
$title-lg-line-height: 30px;

.title-lg-normal {
  font-family: $main-font;
  font-size: $title-lg-font-size;
  line-height: $title-lg-line-height;
  font-weight: $main-font-weight-normal;
}

.title-lg-bold {
  font-family: $main-font;
  font-size: $title-lg-font-size;
  line-height: $title-lg-line-height;
  font-weight: $main-font-weight-bold;
}

//body-xl
$body-xl-font-size: 18px;
$body-xl-line-height: 28px;

.body-xl-normal {
  font-family: $main-font;
  font-size: $body-xl-font-size;
  line-height: $body-xl-line-height;
  font-weight: $main-font-weight-normal;
}

.body-xl-bold {
  font-family: $main-font;
  font-size: $body-xl-font-size;
  line-height: $body-xl-line-height;
  font-weight: $main-font-weight-bold;
}

//body-lg
$body-lg-font-size: 16px;
$body-lg-line-height: 24px;

.body-lg-normal {
  font-family: $main-font;
  font-size: $body-lg-font-size;
  line-height: $body-lg-line-height;
  font-weight: $main-font-weight-normal;
}

.body-lg-bold {
  font-family: $main-font;
  font-size: $body-lg-font-size;
  line-height: $body-lg-line-height;
  font-weight: $main-font-weight-bold;
}

//body-md
$body-md-font-size: 14px;
$body-md-line-height: 20px;

.body-md-normal {
  font-family: $main-font;
  font-size: $body-md-font-size;
  line-height: $body-md-line-height;
  font-weight: $main-font-weight-normal;
}

.body-md-bold {
  font-family: $main-font;
  font-size: $body-md-font-size;
  line-height: $body-md-line-height;
  font-weight: $main-font-weight-bold;
}

//body-sm
$body-sm-font-size: 12px;
$body-sm-line-height: 18px;

.body-sm-normal {
  font-family: $main-font;
  font-size: $body-sm-font-size;
  line-height: $body-sm-line-height;
  font-weight: $main-font-weight-normal;
}

.body-sm-bold {
  font-family: $main-font;
  font-size: $body-sm-font-size;
  line-height: $body-sm-line-height;
  font-weight: $main-font-weight-bold;
}

.m-form__box{
  max-height: 40px;
}
//caption
$caption-font-size: 10px;
$caption-line-height: 14px;

.caption-normal {
  font-family: $main-font;
  font-size: $caption-font-size;
  line-height: $caption-line-height;
  font-weight: $main-font-weight-normal;
}

.caption-bold {
  font-family: $main-font;
  font-size: $caption-font-size;
  line-height: $caption-line-height;
  font-weight: $main-font-weight-bold;
}

// .m-form__box {
//   max-height: 50px;
// }

.m-form__icon {
  align-items: center;
}

//Mradio Buttons


//Mradio
.ant-radio-group {
  display: flex;
  justify-content: space-between;
}

.ant-radio-wrapper {
  margin: 0 0 0 8px !important;
  font-family: $main-font !important;
  font-size: 14px !important;
  color: hsl(208, 9%, 34%) !important;
}

.ant-radio-wrapper:hover {
  background-color: #f8f5ff;
}

.ant-radio-inner {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 15px !important;
  height: 15px !important;
  margin: auto !important;
  background-color: initial !important;
  border-width: 2px !important;
  border-color: #4f575e !important;

  &::after {
    border-color: $color-third !important;
    transform: scale(0.6) !important;
    background-color: $color-third !important;
  }
}

// Winput

.winput {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .winput_header {
    margin-bottom: 4px;

    .winput_tooltip {
      margin: 0 5px;
    }

    .winput_require {
      color: red;
    }
  }

  .ant-input {
    width: 100%;
    height: 100% !important;
    margin: auto 0;
  }

  .Winput.error_input {
    border-color: #C92929;
    margin: 0;
  }
}

.Winput_error_text {
  width: 100%;
  height: 16px;
  margin-top: 4px;
  font-size: 12px;
  color: red;
}

//Minput

.m-form__input {
  font-family: $main-font !important;
  font-size: 12px;
  background: initial !important;
  width: 100%;
  border-width: 0 !important;

  .m-form__label {
    color: black;
    transition: all 0.3s ease;
  
  }




  .ant-input-search {
    display: flex;
    align-items: center;
  }

  .ant-input-affix-wrapper {
    font-family: $main-font !important;
    display: flex;
    width: 100%;
  }

  .m_input {
    font-family: $main-font !important;
    font-size: 16px;
    flex: 1;
    padding: 12px;
    border: 2px solid #cbcfd2;
    border-radius: 4px;
    transition: border-color 0.3s;

    &:hover {
      border-color: $color-third;
    }

    &:focus {
      outline: none;
      border-color: $color-third;
    }
  }

  .m-form__label__warning {
    color: $color-danger-200;
  }
}

//Msearch

.m-form__input {
  .ant-input {
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
    padding: 8px 8px 8px 48px;

    &:hover {
      border-color: $color-third;
    }

    &:focus {
      outline: none;
      border-color: $color-third;
    }
  }

  .ant__search-icon {
    position: absolute;
    font-size: 20px;
    top: 20%;
    color: lightgray;
    left: 12px;
  }

  .m-form__select {
    padding: 12px;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 4px;
    color: #cbcfd2;
    &:hover {
      border-color: $color-third;
    }

    &:focus {
      outline: none;
      border-color: $color-third;
    }
  }
}

//Mbutton
.m_button.third {
  background-color: $color-third;
  color: #ffffff;

  &:hover {
    background-color: $color-third !important;
    color: #ffffff !important;

    &:active {
      background-color: $color-third !important;
    }
  }
}

.m_button.third_border {
  background-color: white;
  color: $color-third;
  border: 2px solid $color-third;

  &:hover {
    background-color: white !important;
    color: #1d99d6 !important;
    border-color: #1d99d6;

    &:active {
      border: 2px solid #1d99d6;
    }
  }
}

.m_button.white_border {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;

  &:hover {
    background-color: transparent !important;
    color: #cbcfd2 !important;
    border: 2px solid #cbcfd2;

    &:active {
      border: 2px solid #cbcfd2;
    }
  }
}

.m_button.red {
  background-color: #c92929 !important;
  color: white;

  &:hover {
    background-color: #a92323;
    color: white;

    &:active {
      background-color: #a92323 !important;
    }
  }
}

.m_button.green {
  background-color: #12825f;
  color: white;

  &:hover {
    background-color: #0e674b !important;

    &:active {
      background-color: #12825f;
    }
  }
}

.m_button.orange {
  background-color: #f2ab53;
  color: #202327;

  &:hover {
    background-color: #ee9322 !important;
    color: #202327 !important;

    &:active {
      background-color: #f2ab53;
    }
  }
}

.m_button.second {
  background-color: $color-second;
  color: white;

  &:hover {
    background-color: $color-second !important;
    color: white !important;
  }

  &:active {
    background-color: $color-second !important;
  }
}

.m_button:active {
  box-shadow: 0px 8px 8px 0px rgb(0, 0, 0, 0.3) inset;
}

.m_button.disabled {
  pointer-events: none !important;
  opacity: 0.5;
}

// Mcheckbox
.m-form__Mcheckbox {
  flex: 0 0 100%;
  max-width: 100%;
}

.m-checkbox_checked {
  .m-form__Mcheckbox:hover {
    background-color: #f8f5ff;
  }
}

.m-form__Checkbox {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid transparent;


  &:hover {
    background-color: #f8f5ff !important;
    border-width: 1px !important;

    // border-color: $color-third !important;
    .ant-checkbox-wrapper {
      // padding: 0 8px;

      .ant-checkbox {
        .ant-checkbox-inner {
          border-color: #00B1CC !important;
        }
      }

      .ant-checkbox-checked {

        .ant-checkbox-inner {
          border-color: #00B1CC !important;
          background-color: #00B1CC !important;

        }
      }
    }
  }
  .ant-checkbox-wrapper {
    .ant-checkbox {
      .ant-checkbox-inner:hover {
        border-color: #00b1cc !important;
      }
    }
    .ant-checkbox-checked {
      .ant-checkbox-inner {
        border-color: #00b1cc;
        background-color: #00b1cc !important;
      }
    }
  }
}

//Mtable (new)
.reactgrid {
  border: 1px solid #ddd;
  border-radius: 4px;

  .reactgrid-content {
    display: flex;
    flex-direction: column;
  }

  .rg-header-cell {
    background-color: var(--color-second) !important;
    color: white !important;
  }

  .rg-row {
    border-bottom: 1px solid #ddd;
  }

  .selected-row {
    background-color: #6f6f6f;
  }
}

//SCSS of ShowComponent.jsx
.component-bodylayout {
  width: 80%;
  // padding: 100px 25% 100px 25%;
  margin: 0 auto;
  padding-bottom: 10%;
}

.typography-container {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 64px;
  margin: 80px 10% 0 10%;
  box-shadow: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.typography-example {
  display: flex;
  clear: both;

  .typography-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: auto;
    float: left;
  }

  .typography-info div {
    flex: 1;
    padding: 0 10px 0 10px;
    text-align: top left;
  }

  .example-text {
    flex: 1;
    margin: 0 0 0 40px;
    text-align: left;
    font-family: $main-font;
    float: right;
  }
}

.component-mbutton {
  width: 100%;

  .component-mbutton-1 {
    border-top-left-radius: 10px;
    padding: 50px;
    background-color: $color-dark-50;
    // float: left;
  }

  .component-mbutton-2 {
    border-top-right-radius: 10px;
    padding: 50px;
    background-color: $color-dark-50;
    // float: left;
  }
}

// Mtable
.reactgrid {
  border: 1px solid #ddd;
  border-radius: 4px;

  .rg-row {
    border-bottom: 1px solid #ddd;
  }

  .rg-header-cell {
    background-color: var(--second-color) !important;
    color: white !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    font-weight: bold !important;
  }

  .rg-text-cell {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
  }
}