@import '../../../components/BasicUI.scss';

.tracking-container_container {
    width: 100%;
    min-height: 100%;

    .content {
        width: 100%;
        height: 100%;
        margin: 12px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: white;
        box-shadow: 0px 2px 1px 0px rgb(0, 0, 0, 0.3) inset;

        .header {
            width: 100%;
            height: 48px;
            text-align: center;
            background-color: $color-second;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 600;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .input_container {
            width: 100%;
            margin: 12px 0;
            margin-bottom: 4px;
            height: 12%;

            .input_item {
                width: 40%;
                margin: 0 auto;

                .form_input_field {
                    height: 40px;
                }
            }

            .item_header {
                margin-bottom: 8px;

                .item_tooltip {
                    margin: 0 5px;
                }

                .item_require {
                    color: red;
                }
            }
        }

        .input_button {
            height: 7%;
            width: 20%;
            margin: 0 auto;
        }

        .table_content {
            display: flex;
            width: 90%;
            height: 73%;
            min-height: 44.9vh;
            margin: 0 auto;
            justify-content: center;
            align-items: center;

            .no_data {
                text-align: center;
                line-height: 36px;
            }

            .have_data {
                width: 100%;

                .data_table {
                    display: flex;
                    width: 90%;
                    margin: 12px 5%;
                    flex-wrap: wrap;
                    border-radius: 6px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    overflow: hidden;

                    .data_table_column {
                        flex: 1 1 50%;
                        height: 100%;
                        min-width: fit-content;

                        .data_table_row {
                            width: 100%;
                            flex-wrap: nowrap;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            border-bottom-width: 0;
                            border-right-width: 0;

                            .data_table_row_column {
                                width: 60%;
                                padding: 8px 12px;
                                border: 1px solid rgba(0, 0, 0, 0.1);
                                border-top-width: 0;
                                border-left-width: 0;
                            }

                            .liquidation {
                                color: #04B900;
                                text-transform: capitalize;
                                font-weight: 600;
                            }

                            .location {
                                color: #C92929;
                                text-transform: capitalize;
                                font-weight: 600;
                            }

                            .left_column {
                                background-color: #ECEDEE;
                                width: 40%;
                            }
                        }
                    }
                }

                .table_index_container {
                    width: 100%;
                    max-width: max-content;
                    margin: 12px 5%;
                    align-items: center;

                    .form_input_field {
                        padding: 6px 4px;
                        border-radius: 6px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    .table_index_input {
                        height: 100%;
                        width: 75px;
                        text-align: center;
                        margin: 0 5px;
                        padding: auto 2px;
                    }

                    .next_index_button {
                        margin-left: 5px;
                    }
                }
            }

            .table_exist_data {
                align-items: flex-start;
                margin-top: 12px;
            }
        }
    }
}