.unauth-header_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 0;

    .unauth-header_image-logo {
        width: 300px;
    }
}