.unauth-header_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 0;

    .unauth-header_image-logo {
        width: 300px;
    }

    @media (max-width: 768px) {
        .unauth-header_image-logo {
            width: 250px;
        }
    }

    @media (max-width: 360px) {
        .unauth-header_image-logo {
            width: 200px;
        }
    }
}