$breakpoint-xl: 1536px;
$breakpoint-ld: 1280px;
$breakpoint-md: 768px;
$breakpoint-sm: 360px;

.login_container {
    width: 100%;
    height: 100%;
    position: relative;

    .login_content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        background-image: url('../../assets/backgroundImage/LoginBackground.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;

        .login_form {
            width: 400px;
            // height: 450px;
            padding: 18px;
            background-color: white;

            .form_item {
                margin-bottom: 12px;

                .item_header {
                    margin-bottom: 12px;

                    .item_tooltip {
                        margin: 0 5px;
                    }

                    .item_require {
                        color: red;
                    }
                }

                .item_bottom {
                    height: 16px;
                    margin-top: 4px;
                    font-size: 12px;
                    color: red;
                }

                .error_item {
                    border-color: red;
                }

                .form_button {
                    height: 40px;
                }

                .form_input_field {
                    height: 40px;
                }

                .button_text {
                    text-align: center;
                    margin: 12px;
                    font-family: 'IBM Plex Sans', sans-serif;
                }
            }

            .form_header {
                margin: 0;
            }

            .space_margin {
                margin: 12px auto;
                text-align: center;
                display: flex;
                justify-content: center;

                div {
                    display: flex;
                    justify-content: center;
                }
            }

            .bottom_link {
                padding: 0 20px;
                margin: 20px 0;
                font-weight: 400;
                border-top: 1px solid #E5E5E5;
                color: #1B6DDF;
            }
        }

        @media (max-width: $breakpoint-md) {
            .login_form {
                width: 330px;
                height: 380px;
                margin: 20px 0;
                padding: 0 18px;
                background-color: white;

                .form_item {
                    margin-bottom: 8px;
                }

                .space_margin {
                    margin: 8px auto;
                }

                .m-form__box {
                    width: 280px !important;
                }

                .bottom_link {
                    margin: 0;
                }
            }
        }
    }
}